theme ?= #616161

.justCalendar
  display inline-block
  max-width 290px
  min-width 230px
  font-family sans-serif
  overflow auto
  border-radius 2px
  text-transform uppercase
  transition .1s
  table
    width 100%
    border-spacing 0
    border-collapse collapse
    table-layout fixed
    tr
      border 1px solid #bebebe
    th, td
      padding 4px 5px
      text-align center
      font-weight inherit
  .header
    height 34px
    line-height 1
    font-size 16px
    background theme
    color white
    text-transform capitalize
    tr
      border-bottom none
    td, th
      padding 8px
    &__nav
      width 30px
      cursor pointer
      transition .2s
      &:hover
        opacity .5
  .month
    background #fff
    cursor default
    th, td
      font-size 14px
      border-right 1px solid #bebebe
      &:last-child
        border-right 0
  .weekdays
    &__day
      color theme
      font-weight 400
      text-transform uppercase
  .week
    &__day
      cursor pointer
      transition .2s
      &:hover
        background rgba(theme, .2)
      &_otherMoth
        color #c0c0c0
      &_today
        background theme
        color #fff
      &_selected
        background rgba(theme, .2)
        color theme
