table.header
    th.header__nav.header__nav_previous(ng-click='$ctrl.changeMonth(-1)') <
    th.header__current {{$ctrl.month.format('MMMM YYYY')}}
    th.header__nav.header__nav_next(ng-click='$ctrl.changeMonth(+1)') >

table.month
    thead.weekdays
        th.weekdays__day(ng-repeat='day in $ctrl.weekdays') {{day}}

    tr.week(ng-repeat='week in $ctrl.weeks')
        td.week__day(
            ng-repeat='day in week.days'
            ng-click='$ctrl.select(day)'
            ng-class='{ week__day_today: day.isToday, week__day_otherMoth: !day.isCurrentMonth, week__day_selected: day.date.isSame($ctrl.selected) }'
        ) {{day.date.date()}}
