.jumbotron.text-center
  .container
    h1 #[b justCalendar] - just use it!

    .panel-body

    ng-just-calendar

    .panel-body

    a.btn.btn-default.btn-lg.panel-body(href='https://github.com/verbart/just-calendar') GitHub
